# URL du backend (développement local ou distant)
# Local :
VITE_API_URL=http://localhost:5000
# Ou distant (Render) :
# VITE_API_URL=https://mealmind-back.onrender.com

VITE_UNSPLASH_ACCESS_KEY=VE5LUV2ygi4ln29nBAvCKeEf4ZYm2l5J0ztsM-pceLE